@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic+Coding&display=swap');
body{
  margin:0;
}
a {

  text-decoration: none;
}
h1{
  background-color: black;
  color:yellow;
  font-family: 'Nanum Gothic Coding', monospace;
  font-size:45px;
  text-align:center;
  border-bottom:1px solid yellow;
  margin:0;
  padding:20px;
}
ol{
  background-color: white;
  color:black;
  font-family: 'Nanum Gothic Coding', monospace;
  border-right:1px solid black;
  width:100px;
  margin:0;
  padding:20px;
}
#grid{

  font-family: 'Nanum Gothic Coding', monospace;
  display: grid;
  grid-template-columns: 150px 1fr;
}
#grid ol{

  font-family: 'Nanum Gothic Coding', monospace;
  padding-left:33px;
}
#grid #article{

  line-height: 200%;
  font-family: 'Nanum Gothic Coding', monospace;
  padding-left:25px;
}
@media(max-width:600px){
  #grid{

    display: block;
  }
  ol{
    font-family: 'Nanum Gothic Coding', monospace;
    border-right:none;
  }
  h1{
    font-family: 'Nanum Gothic Coding', monospace;
    border-bottom:none;
  }
}
